
.hero{
    text-align: center;
    background-color: #f9f7fe;
    padding: 150px 30px;
}

.hero p{
    font-family:"Poppins", sans-serif ;
    font-weight: bold;
    font-size: 36px;
    color: #272142;
}

.hero h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 96px;
}

.hero h3
{
    font-family:"Poppins", sans-serif ;
    font-weight: normal;
    font-size: 24px;
}

.btn-button{
    background-color: #6c63ff;
    color: white;
    font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    padding: 18px 30px;
    margin-top: 36px;
}

h2{
    font-size: 64px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p{
    font-size: 16px;
    line-height: 2;
}

.btn-yogurt-button{
    color: #6c63ff;
    font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    padding: 18px 30px;
    margin-top: 36px;
    border: 1px solid #6c63ff;
}
.present{
    padding: 120px 60px;
}

.content{
    padding: 160px 30px;
}

.content h1
{
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: bold;
}

.content h2{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.content h3{
    font-size: 18px;
   font-family: "Poppins", sans-serif;
   font-weight: bold;
}

.content p{
    font-size: 16px;
    font-family:"Poppins", sans-serif ;
}

.content-section{
    margin: 50px 30px;
}

.text-muted{
    font-size: 14px;
    color: #6c757d;
    font-family:"Poppins", sans-serif ;
}
@media(max-width:900px) {
    .present{
        padding: 0;
        text-align: center;
    }
    .hero{
        padding: 80px 20px;
    }
    .hero h1{
        font-size:50px;
    }
    h2{
        font-size:40px;
    }
    .about{
        padding: 30px 10px;
        text-align: center;
    }
    .about h1{
        font-size: 40px;
    }
}